Library
Temp
.vscode
Logs
ProjectSettings
UserSettings
todo
.config
Assets/Temple Minions
Assets/YughuesFreeSandMaterials
Assets/pilar
Assets/casa0
Assets/casa1
Assets/casa2
Assets/casa3
Assets/egypt_temples
Assets/EgyptMonsters
Assets/templo